@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=c2FwLUFuaXM6RkliUmNIWWlZa3h6QncwNkNmMGFjS2xYSDY1WG1kSmo=
always-auth=true